<div class="login-page" bgcolor='red'>
  <div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
          <img src="app/images/Rishi.jpg" class="user-avatar" />
      <h1>Agent Action <!-- <br><small>by Rishi Mishra</small> --></h1>
      <form role="form" ng-submit="submit()" ng-controller="AACtrl">

        <div class="form-content">
          <div class="form-group">
            <input type="text" ng-model = 'pnrVal' class="form-control input-underline input-lg" id="" placeholder="PNR">
          </div>
        </div>

        <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Speak</button>
        <p>{{btnText}}</p>
      </form>

    </div>  
  </div>

</div>